<%= form_with(model: @counseling, class: "contents") do |form| %>

    <% if @counseling.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@counseling.errors.count, "error") %> prohibited this counseling from being saved:</h2>

        <ul>
          <% @counseling.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        </div>
    <% end %>

            <div>
              <button type="button" id="button-basic" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
               Basic Information
              </button>
            
            
              <button type="button" id="button-counseling" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
               Counseling Information
              </button>
         
              <button type="button" id="button-contract" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
               Contract Information
              </button>
            </div>
            
                 <div style="display:block" id="basic-div">

                    <h1 class="text-2xl italic">Responsible Person</h1>
                        <div class="my-5">
                        <%= form.label :resp_dr %>
                        <%= form.text_field :resp_dr, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>

                        <div class="my-5">
                        <%= form.label :resp_couns_staff %>
                        <%= form.text_field :resp_couns_staff, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                        </div>

                        <div class="w-full grid grid-cols-2">
                          <% if params[:edit].nil? %>
                            <%= form.fields_for :oral_types do |builder| %>
                                  <div class="col-span">
                                      <div class="">
                                        <h1 class="text-2xl italic">Bad Breath</h1>
                                        <%= builder.hidden_field :name,value: "bad_breath"%>
                                      </div>
                                      <div class="mb-3 xl:w-96">
                                          <%= builder.label :exp_date %>
                                          <%= builder.date_field :exp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                      </div>                       
                                  </div>
                                  <div class="col-span">
                                      <div class="mb-3 xl:w-96">
                                          <%= builder.label :imp_date %>
                                          <%= builder.date_field :imp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                      </div>                       
                                  </div>
                              <% end %>
                              <%= form.fields_for :oral_types do |builder| %>
                                    <div class="col-span">
                                        <div class="">
                                          <h1 class="text-2xl italic">Microscope</h1>
                                          <%= builder.hidden_field :name,value: "microscope"%>
                                        </div>
                                        <div class="mb-3 xl:w-96">
                                            <%= builder.label :exp_date %>
                                            <%= builder.date_field :exp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                        </div>                       
                                    </div>
                                    <div class="col-span">
                                        <div class="mb-3 xl:w-96">
                                            <%= builder.label :imp_date %>
                                            <%= builder.date_field :imp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                        </div>                       
                                    </div>
                                <% end %>
                                <%= form.fields_for :oral_types do |builder| %>
                                    <div class="col-span">
                                        <div class="grid grid-col-1">
                                          <h1 class="text-2xl italic">Saliva</h1>
                                          <%= builder.hidden_field :name,value: "saliva"%>
                                        </div>
                                        <div class="mb-3 xl:w-96">
                                            <%= builder.label :exp_date %>
                                            <%= builder.date_field :exp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                        </div>                       
                                    </div>
                                    <div class="col-span">
                                        <div class="mb-3 xl:w-96">
                                            <%= builder.label :imp_date %>
                                            <%= builder.date_field :imp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                        </div>                       
                                    </div>
                                 <% end %>
                          <% else %>
                                  <%= form.fields_for :oral_types do |builder| %>
                                        <div class="col-span">
                                            <div class="">
                                              <h1 class="text-2xl italic"><%=builder.object.name.humanize %></h1>
                                              <%= builder.hidden_field :name %>
                                            </div>
                                            <div class="mb-3 xl:w-96">
                                                <%= builder.label :exp_date %>
                                                <%= builder.date_field :exp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                            </div>                       
                                        </div>
                                        <div class="col-span">
                                            <div class="mb-3 xl:w-96">
                                                <%= builder.label :imp_date %>
                                                <%= builder.date_field :imp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                            </div>                       
                                        </div>
                                    <% end %>
                          <% end %>
                          </div> 

                         <div class="w-full grid grid-cols-2">                            
                        
                                <div class="col-span">
                                <h1 class="text-2xl italic">Course</h1>
                                                       
                                </div>

                                <div class="col-span">                               
                                  <div class="mb-3 xl:w-96">
                                      <%= form.label :course_imp_date %>
                                      <%= form.date_field :course_imp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                  </div>                       
                              </div>

                            <div class="col-span">
                             <h1 class="text-2xl italic">P Course</h1>
                                                     
                                </div>

                                <div class="col-span">
                                  <div class="mb-3 xl:w-96">
                                      <%= form.label :pcourse_imp_date %>
                                      <%= form.date_field :pcourse_imp_date, class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
                                  </div>                       
                              </div>
                        </div>


                </div>


                <div style="display:none" id="counseling-div">

                    <div class="my-5">
                    <%= form.label :first_visit %>
                    <%= form.text_field :first_visit, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :re_first_visit %>
                    <%= form.text_field :re_first_visit, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :second_visit %>
                    <%= form.text_area :second_visit , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :p_consult %>
                    <%= form.text_field :p_consult, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :inspection %>
                    <%= form.text_area :inspection , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :treat_plan %>
                    <%= form.text_area :treat_plan , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :prostho %>
                    <%= form.text_area :prostho , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :denture %>
                    <%= form.text_area :denture , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :whitening %>
                    <%= form.text_area :whitening , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :implant %>
                    <%= form.text_area :implant , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :invisalign %>
                    <%= form.text_area :invisalign , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :other_correc %>
                    <%= form.text_area :other_correc , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :micro %>
                    <%= form.text_area :micro , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :maintainance %>
                    <%= form.text_area :maintainance , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :main_resv_date %>
                    <%= form.text_area :main_resv_date , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :main_trans %>
                    <%= form.text_area :main_trans , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>
             </div>   

             <div style="display:none" id="contract-div">
                           <h1 class="text-2xl italic">Agreement</h1>
                    <div class="my-5">
                    <%= form.label :type_agree %>
                    <%= form.text_area :type_agree , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :prostho_type %>
                    <%= form.text_area :prostho_type , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :no_of_implant %>
                    <%= form.text_area :no_of_implant , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :site %>
                    <%= form.text_area :site , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :offer_amt %>
                    <%= form.text_area :offer_amt , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :agreement %>
                    <%= form.text_area :agreement , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :cons_sign_date %>
                    <%= form.text_area :cons_sign_date , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="my-5">
                    <%= form.label :contract_amt %>
                    <%= form.text_area :contract_amt , class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    </div>

                    <div class="inline">
                    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
                    </div>

             </div>   


<% end %>


<script>
//for counseling-information
$(document).ready(function(){
  $("#button-counseling").click(function(){
    $("#counseling-div").show();
    $("#basic-div").hide();
    $("#contract-div").hide();
  });
});

//for basic-information
$(document).ready(function(){
  $("#button-basic").click(function(){
    $("#counseling-div").hide();
    $("#contract-div").hide();
    $("#basic-div").show();
  });
});

//for contract-information
$(document).ready(function(){
  $("#button-contract").click(function(){
    $("#counseling-div").hide();
    $("#basic-div").hide();
    $("#contract-div").show();
  });
});
</script>