  <main class="flex-1 pb-8">

        <div class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">
        <!-- Search -->
        <%# <%= link_to "Create Counseling", new_counseling_path, class:"text-center mb-5 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %> 
        
       <%= render 'search_form' %>
        <!-- Table -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            
              <div class="shadow border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="underline bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Patient Name</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Treatment No.</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Patient Name</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Responsible Person Dr</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Counseling</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Visit</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Re First Visit</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Second Visit</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">P Consult</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Treatment Plan</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Prosthodontics</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Denture</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">White</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Implant</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Invisa</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Other Correction</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Micro</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Maintainance</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Maintainance Reservation Date</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Maintainance Number of Migrations</th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Agreement Result</th>                     
                      <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <% @patients.each do |patient| %>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.patient_number %></td>
                      <% if patient.counseling %>
                        <!-- Editing Visit Routes -->
                        <td class="px-6 underline text-blue-300 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= link_to patient.first_name,edit_counseling_path(id: patient.counseling.id,patient: patient.id, edit: "true") %></td>
                    <% else %>
                        <!-- Create Visit Routes -->
                        <td class="px-6 underline text-blue-300 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= link_to patient.first_name ,new_counseling_path(id: patient.id) %></td>
                    <% end %>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.first_name if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.resp_dr if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.resp_dr if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.first_visit if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.re_first_visit if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.second_visit if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.p_consult if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.treat_plan if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.prostho if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.denture if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.whitening if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.implant if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.invisalign if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.other_correc if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.micro if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.maintainance if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.main_resv_date if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.main_trans if patient.counseling %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= patient.counseling.agreement if patient.counseling %></td>

                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to "Edit", edit_counseling_path(patient.id, edit: "true"),class:"text-cyan-900 hover:text-cyan-900" %>
                        <%= link_to "Delete", counseling_path(patient), method: :delete, data: { confirm: "Are you sure?" },class:"text-cyan-900 hover:text-cyan-900" %>
                      </td>
                    </tr>
                    <% end %>
                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
          </div>
          <% if @pagy.count > 10 %>
            <div class="mt-5">
              <%== pagy_nav(@pagy) %>
            </div>          
          <% end %>
        </div>
        </div>
      </div>
    </main>
