  <main class="flex-1 pb-8">

        <div class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">
        <!-- Search -->
        <%= link_to "Create Counseling", new_counseling_path, class:"text-center mb-5 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
        
       <%= render 'search_form' %>
        <!-- Table -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            
              <div class="shadow border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="underline bg-gray-50">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :patient_name, "Patient Name", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :treatment_no, "Treatment No.", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :patient_name, "Patient Name", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :resp_dr, "Responsible Person Dr", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :counseling, "Counseling", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :first_visit, "First Visit", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :re_first_visit, "Re First Visit", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :second_visit, "Second Visit", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :p_consult, "P Consult", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :treat_plan, "Treatment Plan", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :prostho, "prosthodontics", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :denture, "Denture", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :whitening, "White", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :implant, "Implant", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :invisalign, "Invisa", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :other_correc, "Other Correction", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :micro, "Micro", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :maintainance, "Maintainance", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :main_resv_date, "Maintainance Reservation Date", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :main_trans, "Maintainance Number of Migrations", default_order: :desc) %></th>
                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"><%= sort_link(@q, :type_agree, "Agreement Result", default_order: :desc) %></th>                     
                      <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Edit</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <% @users.each do |user| %>
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.resp_dr %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.resp_dr %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.resp_dr %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.resp_dr %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.resp_dr %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.first_visit %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.re_first_visit %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.second_visit %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.p_consult %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.treat_plan %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.prostho %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.denture %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.whitening %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.implant %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.invisalign %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.other_correc %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.micro %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.maintainance %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.main_resv_date %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.main_trans %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.type_agree %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to "Edit", edit_counseling_path(user.id, edit: "true"),class:"text-cyan-900 hover:text-cyan-900" %>
                        <%= link_to "Delete", counseling_path(user), method: :delete, data: { confirm: "Are you sure?" },class:"text-cyan-900 hover:text-cyan-900" %>
                      </td>
                    </tr>
                    <% end %>
                    <!-- More people... -->
                  </tbody>
                </table>
              </div>
          </div>
          <% if @pagy.count > 10 %>
            <div class="mt-5">
              <%== pagy_nav(@pagy) %>
            </div>          
          <% end %>
        </div>
        </div>
      </div>
    </main>
