<main class="flex-1 pb-8">
    <div class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">    
            <%= form_tag() do %>
                <div class="md:grid md:grid-cols-7 gap-2 mb-5">              
                    <div class="mb-3 xl:w-96">
                        <%= label_tag "Period", nil,class: "mt-3 md:col-span-1 block text-sm font-medium text-gray-700" %>
                        <%= search_field_tag :period1, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Starting Number' %>
                        to....
                        <%= search_field_tag :period2, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Ending Number' %>
                    </div>                     
                </div>
            <% end %>

            <div>
              <button type="button" id="button-new" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
               New Patient Progress
              </button>           
            
              <button type="button" id="button-course" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
               Course
              </button>
         
              <button type="button" id="button-pcourse" class="inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500">
               P Course
              </button>
            </div>
    <!-- Table -->
    
       <div class="flex flex-col">
          <div class="my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">            
            <div class="shadow border-b border-gray-200 sm:rounded-lg">
              <div style="display:block" id="new-patient-progress">
                 <h1 class="text-3xl">New Patient Progress</h1>
                          <table class="min-w-full divide-y divide-gray-200">
                            <thead class="underline bg-gray-50">
                            <col>
                                  <colgroup span="2"></colgroup>
                                  <colgroup span="2"></colgroup>
                              <tr>
                                <th scope="col" rowspan="2" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Year Month</th>
                                <th scope="col" rowspan="2" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No of New Cases</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">First Visit Consultant</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Second</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Treatment Plan</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Imp / Correction</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Maintenance</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Continue Treatment</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">P Second</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Inspection</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">End</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Maintenance Transition</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">XL</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Next reservation Rate</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">P Heavy Defence Target Person</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">White</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">P Heavy Defence Calculation</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Prosthodontics</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Malocclusion</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Pocket 4mm or more </th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">F Number of OP implemented</th>
                              </tr>
                              <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th> 
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th> 
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>                     
                              </tr>           
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                             
                             <% @counselings.each do |c| %>
                              <%  
                                  
                                  @first_visit = 0
                                  @no_of_patients = Patient.all.count 
                                  @second_visit = 0
                                  @treat_plan = 0
                                  @maintainance = 0
                                  @visit_route_progress = VisitRoute.all.group_by{ |t| t.created_at.beginning_of_month }

                              %>
                                <tr>
                                      
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= c.first.strftime("%Y-%m")  %></td>
                                  <% c.second.each do |d|%>
                                    <% unless d.first_visit.nil?%>
                                      <% @first_visit = @first_visit+1 %>
                                    <% end %>
                                    <% unless d.second_visit.nil?%>
                                      <% @second_visit = @second_visit+1 %>
                                    <% end %>
                                    <% unless d.treat_plan.nil?%>
                                      <% @treat_plan = @treat_plan+1 %>
                                    <% end %>
                                    <% unless d.maintainance.nil?%>
                                      <% @maintainance = @maintainance+1 %>
                                    <% end %>
                                    <%
                                      @first_visit_rate = @first_visit.to_f/ @no_of_patients.to_f
                                      @second_visit_rate = @second_visit.to_f/@no_of_patients.to_f
                                      @treat_plan_rate = @treat_plan.to_f/@no_of_patients.to_f
                                      @maintainance_rate = @maintainance.to_f/@no_of_patients.to_f
                                    %>
                                  <% end %>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @first_visit      %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients   %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @first_visit_rate  %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients    %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @second_visit_rate %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients    %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @treat_plan_rate   %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients    %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients    %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @maintainance_rate  %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients   %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%=  @no_of_patients %></td>
                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                
                              
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <%= link_to "Edit",class:"text-cyan-900 hover:text-cyan-900" %>
                                </td>
                              </tr>
                       
                             <% end %>
                              <!-- More people... -->
                            </tbody>
                       </table>
               </div>  
               <div style="display:none" id="course-div">
                 <h1 class="text-3xl">Course</h1> 
                           <table class="min-w-full divide-y divide-gray-200">
                            <thead class="underline bg-gray-50">
                            <col>
                                  <colgroup span="2"></colgroup>
                                  <colgroup span="2"></colgroup>
                              <tr>
                                <th scope="col" rowspan="2" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Year Month</th>
                                <th scope="col" rowspan="2" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No of New Cases</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Course Unknown</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">A</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">B</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">C</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">D</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">E</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Total</th>
                              </tr>
                              <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th> 
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>                                                    
                              </tr>           
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2021231234685 2</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">201231561461522</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">25465465465022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">20123486546522</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2012322222</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td> 
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td> 

                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <%= link_to "Edit",class:"text-cyan-900 hover:text-cyan-900" %>
                                </td>
                              </tr>

                              <!-- More people... -->
                            </tbody>
                       </table>                    
               </div>
                    <div style="display:none" id="pcourse-div">
                        <h1 class="text-3xl">P Course</h1>
                         <table class="min-w-full divide-y divide-gray-200">
                            <thead class="underline bg-gray-50">
                            <col>
                                  <colgroup span="2"></colgroup>
                                  <colgroup span="2"></colgroup>
                              <tr>
                                <th scope="col" rowspan="2" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Year Month</th>
                                <th scope="col" rowspan="2" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No of New Cases</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">P Course</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">AH</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">I</th>
                                <th scope="col" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase text-center tracking-wider" colspan="2">Hare</th>
                              </tr>
                              <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">No. of People</th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Rate</th>                                                                           
                              </tr>           
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                              <tr>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2021231234685 2</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">201231561461522</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">25465465465022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">20123486546522</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2012322222</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td> 
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">2022</td>                            

                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                  <%= link_to "Edit",class:"text-cyan-900 hover:text-cyan-900" %>
                                </td>
                              </tr>

                              <!-- More people... -->
                            </tbody>
                       </table>                    

                    </div>             
            </div>             
          </div>            
        </div>
      </div>
  </div>
</main>



<script>
$(document).ready(function(){
  $("#button-course").click(function(){
    $("#course-div").show();
    $("#pcourse-div").hide();
    $("#new-patient-progress").hide();
  });
});

$(document).ready(function(){
  $("#button-pcourse").click(function(){
    $("#course-div").hide();
    $("#pcourse-div").show();
    $("#new-patient-progress").hide();
  });
});

$(document).ready(function(){
  $("#button-new").click(function(){
    $("#course-div").hide();
    $("#pcourse-div").hide();
    $("#new-patient-progress").show();
  });
});
</script>