<div class="mx-auto md:w-2/3 w-full mt-5">
  <h1 class="font-bold text-4xl"><%= t("edituser.Edit Role")%></h1>
  <%= form_with(model: @user,url: user_update_path(id: @user.id),class: "contents") do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this clinic from being saved:</h2>

          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
          </div>
      <% end %>

      <div class="my-5">
      <%= t("edituser.Edit Role") %>
      <%= form.text_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      </div>

      <div class="my-5">
        <%= t("edituser.Role") %><br />
        <div class="mt-1">
          <%= form.select :role, User.roles.keys, {:include_blank => "Select"},class:"bg-teal p-3 rounded text-white shadow-inner w-full" %>
        </div>
      </div>

      <div class="my-5">
      <%= t("edituser.Logo")%>
          <%= form.file_field :logo %>
      </div>

      <div class="inline">
      <%= form.submit t("edituser.Update User"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
      </div>
  <% end %>
  <%= link_to t("edituser.Back"), user_index_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>