<div class="mx-auto md:w-2/3 w-full mt-5">
  <h1 class="font-bold text-4xl"><%= t("newuser.New User")%></h1>
    
    <%= form_with(model: @user, url: registrations_path, class: "contents") do |form| %>

        <% if @user.errors.any? %>
            <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this clinic from being saved:</h2>

            <ul>
            <% @user.errors.each do |error| %>
                <li><%= error.full_message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>

        <div class="my-5">
            <%= t("newuser.Email") %>
            <%= form.email_field :email, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% @user.errors.full_messages_for(:email).each do |message| %>
                <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
            <% end %>
        </div>

        <div class="my-5">
            <%= t("newuser.Password") %>
            <%= form.password_field :password, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% @user.errors.full_messages_for(:password).each do |message| %>
                <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
            <% end %> 
        </div>

        <div class="my-5">
            <%= t("newuser.Password Confirmation") %>
            <%= form.password_field :password_confirmation, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
                <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
            <% end %>
        </div>

        <div class="my-5">
            <%= t("newuser.Logo") %>
            <%= form.file_field :logo %>
            <% @user.errors.full_messages_for(:logo).each do |message| %>
                <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
            <% end %>
        </div>

        <div class="my-5">
            <%= t("newuser.Role") %>
            <%= form.select :role, User.roles.keys, {:include_blank => "Select"}, id: "role",class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        
        <div id = "clinic-form"> 
            <%= form.fields_for :clinics do |f| %>
                <div class="my-5">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:name).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :postal_code %>
                    <%= f.text_field :postal_code, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:postal_code).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :region %>
                    <%= f.text_field :region, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:region).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :address %>
                    <%= f.text_area :address, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:address).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :municipalities %>
                    <%= f.text_field :municipalities, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:municipalities).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :building_name %>
                    <%= f.text_field :building_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:building_name).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :floors %>
                    <%= f.text_field :floors, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:floors).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :fax_number %>
                    <%= f.text_field :fax_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:fax_number).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

                <div class="my-5">
                    <%= f.label :phone_number %>
                    <%= f.number_field :phone_number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
                    <% @user.errors.full_messages_for(:phone_number).each do |message| %>
                        <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3"><%= message %></div>
                    <% end %>
                </div>

            <% end %>
        </div>

        <div class="inline">
            <%= form.submit t("newuser.Create User"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"%>
        </div>
    <% end %>

    <%= link_to t("newuser.Back to Patients"), user_index_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>

<script>
    $("#role").on("change",function(){
        if($("#role").val() == "Administrator")
        {
            $("#clinic-form").hide();
        }
        else
        {
            $("#clinic-form").show();
        }
    })
</script>