<%= form_with(model: staff_info, class: "contents") do |form| %>
  <% if staff_info.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(staff_info.errors.count, "error") %> prohibited this staff_info from being saved:</h2>

      <ul>
        <% staff_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h1 class="text-xl cyan-400"><%= t("newstaffinfo.Basic Information") %></h1><br>
  <div class="my-5">
    <%= t("newstaffinfo.Staff Code") %>
    <%= form.number_field :staff_code, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= t("newstaffinfo.First Name") %>
    <%= form.text_field :first_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= t("newstaffinfo.Last Name") %>
    <%= form.text_field :last_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= t("newstaffinfo.Gender") %>
    <%= form.select(:sex,{t("newstaffinfo.Male") => "male", t("newstaffinfo.Female") => "female"}, {:prompt => t("newstaffinfo.Select Gender")},  class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500") %>
    
  </div>

  <h1 class="text-xl cyan-400"><%= t("newstaffinfo.Job Type Information") %></h1><br>

  <div class="my-5">
    <%= t("newstaffinfo.Job Type") %>
    <%= form.select(:job_type,{Developer: "Developer"}, {:prompt => t("newstaffinfo.Select Job Type")}, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500") %>
   
  </div>

  <div class="my-5">
    <%= t("newstaffinfo.Occupation") %>
    <%= form.select(:occupation,{Developer: "Developer", Hello: "Hello" }, {:prompt => t("newstaffinfo.Select Occupation")}, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500") %>
    
  </div>
<h1 class="text-xl cyan-400"><%= t("newstaffinfo.Others") %></h1><br>
  <div class="my-5">
    <%= t("newstaffinfo.Usage Classification") %>
    <%= form.select(:usage_classification,{Developer: "Developer"}, {:prompt => t("newstaffinfo.Select Usage Classification")}, class:"bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500") %>
   
  </div>

  <div class="my-5">
    <%= t("newstaffinfo.Hire Date") %>
    <%= form.datetime_field :hire_date, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= t("newstaffinfo.Date of Leaving Company") %>
    <%= form.datetime_field :date_of_leaving_company, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit t("newstaffinfo.Create Staff Info"), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
