<%= search_form_for @q, url: staff_infos_path, class:"flex justify-center mb-4" do |f| %>

    <div class="w-full grid grid-cols-3">
        <div class="col-span">
            <div class="mb-3 xl:w-96">
                    <%= f.label :staff_code %>
                    <%= f.search_field :staff_code_cont, value: params[:staff_code], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"%>
            </div>
            <div class="mb-3 xl:w-96">
                    <%= f.label :first_name %>
                    <%= f.search_field :first_name_cont,  value: params[:staff_code], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
        </div>
        <div class="col-span">
            <div class="mb-3 xl:w-96" >
                    <%= f.label :job_type %>
                    <%= f.search_field :job_type_cont,  value: params[:staff_code], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <div class="mb-3 xl:w-96">
                    <%= f.label :occupation %>
                    <%= f.search_field :occupation_cont,  value: params[:staff_code], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
        </div>
        <div class="col-span">
            <div div class="mb-3 xl:w-96"><div class="mb-3 xl:w-96">
                    <%= f.label :usage_classification %>
                    <%= f.search_field :usage_classification_cont,  value: params[:staff_code], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
            <div class="mb-3 xl:w-96">
                    <%= f.label :sex %>
                    <%= f.select(:sex_cont,{ t("newstaffinfo.Male") => "male", t("newstaffinfo.Female") => "female" }, {}, { class:"w-full focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" }) %>
            </div>
            <%= f.submit class:"inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
            <%= button_to "Reset", staff_infos_path, class:"inline-flex items-center px-2 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
        </div>
    </div>
    
        
    

<% end %>

