<%= form_tag({:controller => "patients", :action => params[:action]}, {:method => :get}) do %>
      <div class="md:grid md:grid-cols-7 gap-2 mb-5">          
            <%= t("patient.Patient Number") %>
            <%= search_field_tag :patient_number1, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: t("patient.Starting Number") %>
            <%= search_field_tag :patient_number2, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: t("patient.Ending Number") %>
                
            <div class="col-span-1"></div>
            <%= t("patient.First Visit") %>
            <%= date_field_tag :first_visit1, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Starting Date' %>
            <%= date_field_tag :first_visit2, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Ending Date' %>

            <%= t("patient.Patient Name") %>
            <%= search_field_tag :patient_name, "", class:"md:col-span-2 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: t("patient.Search by Patient Name") %>

            <div class="col-span-1"></div>
            <%= t("patient.Next Reservation") %>
            <%= date_field_tag :next_reservation1, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Starting Date' %>
            <%= date_field_tag :next_reservation2, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Ending Date' %>

            <div class="col-span-4"></div>
            <%= t("patient.Last Visit Date") %>
            <%= date_field_tag :last_visit1, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Starting Date' %>
            <%= date_field_tag :last_visit2, "", class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Ending Date' %>

                <div class="col-span-6"></div>
                <%= submit_tag(t("patient.Search"), :id=>"button", :class=>"col-span-1 active items-center px-4 py-1 border border-transparent  font-small rounded-md shadow-xl text-white bg-cyan-600 hover:bg-cyan-700", :name=>"submit") %>
          </div>
      </fieldset>
<% end %>