<%= form_tag({:controller => "patients", :action => params[:action]}, {:method => :get}) do %>

      <fieldset class="border border-solid border-gray-300 rounded p-2 mt-3 mb-2">
      <legend class="text-sm text-white text-bold text-md rounded-md border-2 border-green px-8 py-1 h-8 bg-cyan-600">Search Conditions</legend>
            <div class="md:grid md:grid-cols-7 gap-2 mb-5">          
            <%= label_tag "Patient Number", nil,class: "mt-3 md:col-span-1 block text-sm font-medium text-gray-700" %>
            <%= search_field_tag :patient_number1, "", value: params[:patient_number1], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Starting Number' %>
            <%= search_field_tag :patient_number2, "", value: params[:patient_number2], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Ending Number' %>
                
            <div class="col-span-1"></div>
            <%= label_tag "First Visit", nil,class: "mt-3 md:col-span-1 block text-sm font-medium text-gray-700" %>
            <%= date_field_tag :first_visit1, "", value: params[:first_visit1], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Starting Date' %>
            <%= date_field_tag :first_visit2, "", value: params[:first_visit2], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Ending Date' %>

            <%= label_tag "Patient Name", nil,class: "mt-3 md:col-span-1 block text-sm font-medium text-gray-700" %>
            <%= search_field_tag :patient_name, "",value: params[:patient_name], class:"md:col-span-2 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Search By Patient Name..' %>

            <div class="col-span-1"></div>
            <%= label_tag "Next Reservation", nil,class: "mt-3 md:col-span-1 block text-sm font-medium text-gray-700" %>
            <%= date_field_tag :next_reservation1, "", value: params[:next_reservation1], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Starting Date' %>
            <%= date_field_tag :next_reservation2, "", value: params[:next_reservation2], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Ending Date' %>

            <div class="col-span-4"></div>
            <%= label_tag "Last Visit Date", nil,class: "mt-3 md:col-span-1 block text-sm font-medium text-gray-700" %>
            <%= date_field_tag :last_visit1, "", value: params[:last_visit1], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Starting Date' %>
            <%= date_field_tag :last_visit2, "", value: params[:last_visit2], class:"md:col-span-1 mt-1 focus:ring-indigo-500 focus:border-indigo-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",placeholder: 'Enter Ending Date' %>

            <div class="col-span-5"></div>
            <%= submit_tag("Search", :id=>"button", :class=>"col-span-1 active items-center text-center py-1 border-2 border-transparent  font-small rounded-md shadow-xl text-white bg-cyan-600 hover:bg-cyan-700", :name=>"submit") %>
            <%= link_to "Reset", "/#{params[:controller]}/#{params[:action]}", class: "col-span-1 active items-center text-center py-1 border-2 border-transparent  font-small rounded-md shadow-xl text-white bg-red-500 hover:bg-red-700" unless params[:action] == "index" %>

            <%= link_to "Reset", patients_path, class: "col-span-1 active items-center text-center py-1 border-2 border-transparent  font-small rounded-md shadow-xl text-white bg-red-500 hover:bg-red-700" if params[:action] == "index" %>
            
          </div>
      </fieldset>
<% end %>