  <main class="flex-1 pb-8">
      <div class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">
        <!-- Search -->
        <%= link_to 'Create Patient', new_patient_path, class:"text-center mb-5 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
        <button type="button" class="text-center mb-5 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" data-bs-toggle="modal" data-bs-target="#exampleModalSm" id="SmLabel" >Advance Search</button>

        <!-- Search and Filter -->
        <%= render "search_filter" %>
        <!-- Table -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">          
            <div class="shadow border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Patient Number</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Name</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Visit Route</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dentist</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dentist Hygienist</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Treatment Coordinator</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Panorama</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Caries Check</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Course</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">P Course</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Visit</th>                     

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Next Treatment</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Treatment</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Note</th>

                    <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Edit</span>
                      </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <% @users.each do |user| %>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.patient_number %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.first_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.last_name %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.patient_visit_route %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.dentist.first_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.dentist_hygienist.first_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.treatment_coordinator.first_name %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.panorama ? "Yes" : "NO" %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.caries_check ? "Yes" : "NO" %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.course %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.p_course %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.created_at.to_date %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.next_treatment %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.last_treatment %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.note %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to 'View', patient_path(user.id), class:"inline-flex items-center px-4 py-2 border border-cyan-300 shadow-sm text-sm font-medium rounded-md text-white bg-cyan-500 hover:bg-cyan-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
                      </td>
                  </tr>
                  <% end %>
                    <!-- More people... -->
                </tbody>
              </table>
            </div>
          </div>
          <% if @pagy.count > 10 %>
            <div class="mt-5">
              <%== pagy_nav(@pagy) %>
            </div>          
          <% end %>
        </div>
      </div>
      <div class="alert-modal fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
        <div class="alert-modal flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
          <!--
            Background overlay, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0"
              To: "opacity-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100"
              To: "opacity-0"
          -->
          <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

          <!-- This element is to trick the browser into centering the modal contents. -->
          <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

          <!--
            Modal panel, show/hide based on modal state.

            Entering: "ease-out duration-300"
              From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
              To: "opacity-100 translate-y-0 sm:scale-100"
            Leaving: "ease-in duration-200"
              From: "opacity-100 translate-y-0 sm:scale-100"
              To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          -->
          <div class="relative inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Advance Search</h3>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
              <button type="button" class="close-modal mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">Cancel</button>
              <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">Clear</button>
              <button type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">Search</button>
            </div>
          </div>
        </div>
      </div>
    </main>
<script>
$('.alert-modal').toggle();
$('#SmLabel').on("click",function(){
 $('.alert-modal').toggle();
});

$('.close-modal').on("click",function(){
 $('.alert-modal').toggle();
});

</script>
