  <main class="flex-1 pb-8">
      <div class="max-w-6xl mx-auto mt-8 px-4 text-lg leading-6 font-medium text-gray-900 sm:px-6 lg:px-8">
        <!-- Search -->
        <%= link_to 'Create Patient', new_patient_path, class:"text-center mb-5 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-cyan-600 hover:bg-cyan-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
        
        <!-- Search and Filter -->
        <%= render "search_filter" %>

        
        <!-- Table -->
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">          
            <div class="shadow border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Patient Number</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Name</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Visit Route</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dentist</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Dentist Hygienist</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Treatment Coordinator</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Panorama</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Caries Check</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Course</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">P Course</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">First Visit</th>                     

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Next Treatment</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Last Treatment</th>

                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Note</th>

                    <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">Edit</span>
                      </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <% @users.each do |user| %>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.patient_number %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"><%= user.first_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.last_name %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.patient_visit_route %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.dentist.first_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.dentist_hygienist.first_name %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.treatment_coordinator.first_name %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.panorama ? "Yes" : "NO" %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.caries_check ? "Yes" : "NO" %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.course %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.p_course %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.created_at.to_date %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.next_treatment %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.last_treatment %></td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= user.note %></td>

                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                        <%= link_to 'View', patient_path(user.id), class:"inline-flex items-center px-4 py-2 border border-cyan-300 shadow-sm text-sm font-medium rounded-md text-white bg-cyan-500 hover:bg-cyan-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500" %>
                      </td>
                  </tr>
                  <% end %>
                    <!-- More people... -->
                </tbody>
              </table>
            </div>
          </div>
          <% if @pagy.count > 10 %>
            <div class="mt-5">
              <%== pagy_nav(@pagy) %>
            </div>          
          <% end %>
        </div>
      </div>
    </main>


